<?xml version='1.0' encoding='utf-8'?>
<widget id="com.MokniCorp.CTC3D" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>CatchTheCube3D</name>
    <description>
       catch the cube 3d
    </description>
    <author email="moknicorp@gmail.com" href="https://github.com/S0URON">
        S0URON
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
